fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
sentence-transformers
pymupdf
pandas
python-multipart
aiofiles
python-docx
google-genai
